* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: Arial;
  background: #f4f7fc;
}

.app {
  display: flex;
  min-height: 100vh;
}

/* SIDEBAR */

.sidebar {
  width: 240px;
  background: #06152d;
  color: white;
  padding: 30px 20px;
}

.sidebar h2 {
  margin-bottom: 40px;
}

.sidebar nav {
  display: flex;
  flex-direction: column;
  gap: 15px;
}

.sidebar button {
  background: transparent;
  border: none;
  color: white;
  text-align: left;
  padding: 12px;
  border-radius: 8px;
  cursor: pointer;
  transition: 0.2s;
}

.sidebar button:hover {
  background: #0d2b57;
}

.sidebar .active {
  background: #2563eb;
}

/* MAIN */

.main {
  flex: 1;
  padding: 30px;
}

/* TOPBAR */

.topbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.topbar h1 {
  color: #111827;
}

.create-btn {
  background: #2563eb;
  color: white;
  border: none;
  padding: 12px 18px;
  border-radius: 8px;
  cursor: pointer;
}

/* CARDS */

.cards {
  margin-top: 30px;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 20px;
}

.card {
  background: white;
  padding: 25px;
  border-radius: 14px;
  box-shadow: 0 5px 15px rgba(0,0,0,0.08);
}

.card h3 {
  color: #6b7280;
  margin-bottom: 10px;
}

.card p {
  font-size: 32px;
  font-weight: bold;
  color: #111827;
}

/* TABLE */

.table-container {
  margin-top: 30px;
  background: white;
  border-radius: 14px;
  overflow: hidden;
  box-shadow: 0 5px 15px rgba(0,0,0,0.08);
}

table {
  width: 100%;
  border-collapse: collapse;
}

thead {
  background: #f9fafb;
}

th,
td {
  padding: 18px;
  text-align: left;
  border-bottom: 1px solid #e5e7eb;
}

th {
  color: #6b7280;
}

/* STATUS */

.status,
.priority {
  padding: 6px 10px;
  border-radius: 8px;
  font-size: 12px;
  font-weight: bold;
}

.open {
  background: #fee2e2;
  color: #dc2626;
}

.progress {
  background: #fef3c7;
  color: #d97706;
}

.closed {
  background: #dcfce7;
  color: #16a34a;
}

.high {
  background: #fecaca;
  color: #b91c1c;
}

.medium {
  background: #fde68a;
  color: #b45309;
}

.low {
  background: #bbf7d0;
  color: #15803d;
}

.login-page {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background: #f4f7fc;
}

.login-card {
  width: 400px;
  background: white;
  padding: 40px;
  border-radius: 16px;
  box-shadow: 0 5px 15px rgba(0,0,0,0.1);

  display: flex;
  flex-direction: column;
  gap: 20px;
}

.login-card h1 {
  color: #111827;
}

.login-card input,
.form-card input,
.form-card textarea,
.form-card select {
  padding: 14px;
  border: 1px solid #d1d5db;
  border-radius: 8px;
}

.login-btn {
  background: #2563eb;
  color: white;
  border: none;
  padding: 14px;
  border-radius: 8px;
  cursor: pointer;
}

.form-card {
  background: white;
  padding: 30px;
  border-radius: 16px;
  margin-top: 20px;

  display: flex;
  flex-direction: column;
  gap: 20px;
}